body {

    text-align: center;

    background-color: green;

}

.video {

    border: 7.5px solid rgb(0, 73, 0);

}

h1 {

    color: rgb(0, 73, 0);

    @font-face {
        font-family: Quicksand;
        src: url("font/Quicksand Regular 400.ttf");
    }

    font-family: Quicksand;

}